h1 {
  font-size: calc(1.475rem + 2.7vw);
  line-height: 1.2;
  color: var(--white);
  font-weight: bold;
}

p {
  font-size: calc(.775rem + 1.5vw);
  color: var(--white);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.5rem
  }
  p {
    font-size: 1.9rem
  }
}

.my-carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

button.btn {
  background-color: var(--primary);
  color: var(--white);
}

.carousel-indicators > button {
  background-color: var(--white);
}


