label {
  font-size: 50px;
  color: var(--white);
  font-weight: bold;
}

p {
  font-size: 20px;
  color: var(--white);
}

.my-carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center
}

button.btn {
  background-color: var(--primary);
  color: var(--white);

}

.carousel-indicators > button {
  background-color: var(--white);
}


