table {
  background-color: var(--white)
}

.table-row:hover {
  background-color: rgba(200, 196, 196, 0.5);
  cursor: pointer;
  font-weight: 500;
}


ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: #000000
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: var(--primary) !important;
}
