<ng-container *ngIf="showGraph">

  <div class="d-flex flex-wrap justify-content-between align-items-center pb-4 gap-3">
    <div class="d-flex flex-column">
      <div><b>Nodos:</b> {{d3Nodes.length}}</div>
      <div><b>Relaciones:</b> {{d3Links.length}}</div>
    </div>
    <button type="button" class="btn btn-success" (click)="onDownloadGraph()">
      <fa-icon [icon]="faDownload"></fa-icon>
      Descargar
    </button>
  </div>

  <div class="d-flex justify-content-center text-truncate graph" #downloadEl>
    <graph [nodes]="d3Nodes" [links]="d3Links" [forces]="forces"></graph>
  </div>
</ng-container>
