<div class="container py-4 d-flex flex-column gap-4">

  <div class="p-5 mb-4 dark-jumbotron rounded-3">
    <div class="container-fluid py-5 text-center">
      <h1 class="display-3 fw-bold">Researcher Networks</h1>
      <p class="fs-4" style="text-align: justify">
        ResNet es una herramienta diseñada para proporcionar información académica de investigadores ecuatorianos,
        ofreciendo tres tipos de búsqueda. Su propósito principal es facilitar la comprensión de la información de las
        investigaciones científicas (i.e. relaciones y ocurrencias entre keywords), ayudar a los investigadores(as) en
        la búsqueda de expertos y sus áreas de investigación. ResNet utiliza modelos TF-IDF para mejorar la precisión y
        relevancia de los resultados presentados. Estos modelos han sido entrenados con datos extraídos de Scopus, lo
        que asegura la calidad y fiabilidad de la información presentada.
      </p>
    </div>
  </div>

  <div id="author" class="p-5 mb-4 light-jumbotron rounded-3">
    <div class="container-fluid py-5 text-start">
      <h1 class="display-5 fw-bold">Búsqueda de autor</h1>
      <p class="fs-4">
        Realiza búsquedas de autores cuya afiliación actual o histórica sea de Ecuador. La búsqueda se realiza sobre el
        nombre, apellido, nombre de autor, iniciales e identificador. Los resultados de la búsqueda se muestran en una
        tabla con paginación. Una vez encontrado al autor, se podrá visualizar el perfil del mismo con la
        siguiente información:
      </p>
      <ul>
        <li class="fs-4">Información general</li>
        <li class="fs-4">Artículos del autor</li>
        <li class="fs-4">Tópicos del autor</li>
        <li class="fs-4">Grafo de coautoría</li>
      </ul>

    </div>
  </div>

  <div id="mostRelevantAuthors" class="p-5 mb-4 dark-jumbotron rounded-3">
    <div class="container-fluid py-5 text-end">
      <h1 class="display-5 fw-bold">Búsqueda de autores relevantes</h1>
      <p class="fs-4">
        Realiza búsquedas de los autores más relevantes para determinado tema de investigación (i.e. artificial
        intelligence). La
        búsqueda de estos autores es realizada mediante el modelo TF-IDF de topicos y autores. Los resultados se
        muestran en un grafo, además de que cuenta con dos filtros: número de autores y afiliaciones
      </p>
    </div>
  </div>

  <div id="mostRelevantArticles" class="p-5 mb-4 light-jumbotron rounded-3">
    <div class="container-fluid py-5 text-start">
      <h1 class="display-5 fw-bold">Búsqueda de artículos relevantes</h1>
      <p class="fs-4">
        Realiza búsquedas de los artículos mas relevantes para determinado tema de investifación (i.e. covid in
        Ecuador). La
        búsqueda de estos artículos es realizada mediante el modelo TF-IDF de topicos y artículos. Los resultados se
        muestran en un tabla, además de que es posible filtrar por año de publicación.
      </p>
    </div>
  </div>
</div>

