<div  class="container py-4 d-flex flex-column gap-4">

  <div class="p-5 mb-4 dark-jumbotron rounded-3">
    <div class="container-fluid py-5 text-center">
      <h1 class="display-3 fw-bold">Researcher Networks</h1>
      <p class="fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia commodo lorem, et viverra turpis dictum
        vel. Nam eget pharetra ligula. Vivamus vestibulum consequat felis vestibulum hendrerit. Mauris mattis orci at
        dolor molestie, nec facilisis nibh ultricies. Proin egestas, purus et sodales aliquam, mauris nunc facilisis
        odio, id efficitur eros quam.
      </p>
    </div>
  </div>

  <div id="author" class="p-5 mb-4 light-jumbotron rounded-3">
    <div class="container-fluid py-5 text-start">
      <h1 class="display-5 fw-bold">Búsqueda de autor</h1>
      <p class="fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia commodo lorem, et viverra turpis dictum
        vel. Nam eget pharetra ligula. Vivamus vestibulum consequat felis vestibulum hendrerit. Mauris mattis orci at
        dolor molestie, nec facilisis nibh ultricies. Proin egestas, purus et sodales aliquam, mauris nunc facilisis
        odio, id efficitur eros quam.
      </p>
    </div>
  </div>

  <div id="mostRelevantAuthors" class="p-5 mb-4 dark-jumbotron rounded-3">
    <div class="container-fluid py-5 text-end">
      <h1 class="display-5 fw-bold">Búsqueda de autores relevantes</h1>
      <p class="fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia commodo lorem, et viverra turpis dictum
        vel. Nam eget pharetra ligula. Vivamus vestibulum consequat felis vestibulum hendrerit. Mauris mattis orci at
        dolor molestie, nec facilisis nibh ultricies. Proin egestas, purus et sodales aliquam, mauris nunc facilisis
        odio, id efficitur eros quam.
      </p>
    </div>
  </div>

  <div id="mostRelevantArticles" class="p-5 mb-4 light-jumbotron rounded-3">
    <div class="container-fluid py-5 text-start">
      <h1 class="display-5 fw-bold">Búsqueda de artículos relevantes</h1>
      <p class="fs-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia commodo lorem, et viverra turpis dictum
        vel. Nam eget pharetra ligula. Vivamus vestibulum consequat felis vestibulum hendrerit. Mauris mattis orci at
        dolor molestie, nec facilisis nibh ultricies. Proin egestas, purus et sodales aliquam, mauris nunc facilisis
        odio, id efficitur eros quam.
      </p>
    </div>
  </div>
</div>

