<app-carousel></app-carousel>

<!-- Search Button -->
<div class="container d-flex justify-content-center py-5 my-5">
  <app-search (search)="onSearch($event)"></app-search>
</div>

<!-- Results -->
<div *ngIf="searchValue?.query">

  <!-- Author Results -->
  <ng-container *ngIf="searchValue.option=='au'">
    <app-authors-table query="{{searchValue.query}}" class="container d-flex flex-column mb-5"></app-authors-table>
  </ng-container>

  <!-- Most Relevant Authors Results -->
  <ng-container *ngIf="searchValue.option=='mrau'">
    <app-most-relevant-authors-graph query="{{searchValue.query}}"></app-most-relevant-authors-graph>
  </ng-container>

  <!-- Most Relevant Articles Results -->
  <ng-container *ngIf="searchValue.option=='mrar'">
    <app-most-relevant-articles-table query="{{searchValue.query}}"></app-most-relevant-articles-table>
  </ng-container>

</div>




