<app-carousel></app-carousel>

<!-- Search Button -->
<div class="container d-flex justify-content-center py-5 my-5">
  <app-search (search)="onSearch($event)" [setSearch]="setSearch" [isLoading]=loading></app-search>
</div>

<!-- Results -->
<div *ngIf="searchValue && searchValue.query" [ngSwitch]="searchValue.option">

  <!-- Author Results -->
  <app-authors-table *ngSwitchCase="'au'"
                     (loading)="loading=$event"
                     query="{{searchValue.query}}">
  </app-authors-table>

  <!-- Most Relevant Authors Results -->
  <app-most-relevant-authors-graph *ngSwitchCase="'mrau'"
                                   (loading)="loading=$event"
                                   query="{{searchValue.query}}">
  </app-most-relevant-authors-graph>
  <!-- Most Relevant Articles Results -->

  <app-most-relevant-articles-table *ngSwitchCase="'mrar'"
                                    (loading)="loading=$event"
                                    query="{{searchValue.query}}">
  </app-most-relevant-articles-table>


</div>




