.search-container {
  height: 60px;
}

input.form-control {
  width: 450px;
  border-radius: 0 !important;
}

.btn-select {
  background-color: var(--red);
  color: var(--white)
}

.dropdown-menu button:focus {
  background-color: var(--primary);
}

.btn-search {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem
}

//XS
@media (max-width: 567px) and (min-width: 0px) {
  input.form-control {
    width: 100%;
  }
}

//S
@media (max-width: 767px) and (min-width: 568px) {
  input.form-control {
    width: 300px;
  }
}
