<div class="container-lg d-flex flex-column py-5">

  <!-- Información general -->
  <div class="d-flex flex-column mb-5 pb-3">
    <h2>Información general</h2>
    <hr>

    <div class="row">
      <div class="col d-flex flex-column mb-3">
        <h6 class="label">Nombre</h6>
        <h6 class="text">{{author.firstName}}</h6>
      </div>
      <div class="col d-flex flex-column mb-3">
        <h6 class="label">Apellido</h6>
        <h6 class="text">{{author.lastName}}</h6>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex flex-column mb-3">
        <h6 class="label">Nombre de autor</h6>
        <h6 class="text">{{author.authName}}</h6>
      </div>
      <div class="col d-flex flex-column mb-3">
        <h6 class="label">Iniciales</h6>
        <h6 class="text">{{author.initials}}</h6>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col d-flex flex-column ">
        <h6 class="label">Afiliaciones</h6>
        <ul>
          <li *ngFor="let affiliation of author.affiliations" class="text">
            {{affiliation}}
          </li>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <a class="scopus-profile" href="https://www.scopus.com/authid/detail.uri?authorId={{author.scopusId}}">Perfil de
        Scopus</a>
    </div>


  </div>

  <!-- Artículos -->
  <div class="d-flex flex-column mb-5 pb-3">
    <h2>Artículos</h2>
    <hr>
    <ul class="articles-container">
      <li *ngFor="let article of author.articles" class="text mb-6" (click)="openModal(content, article.scopusId)">
        {{article.title}}
      </li>
    </ul>
  </div>

  <!-- Coautores -->
  <div class="d-flex flex-column">
    <h2>Coautores</h2>
    <hr>

    <ng-container *ngIf="showCoauthorsGraph; else elseCoauthorsGraph">
      <app-coauthors-graph [author]="author"></app-coauthors-graph>
    </ng-container>

    <ng-template #elseCoauthorsGraph>
      <div class="d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg" (click)="showCoauthorsGraph=true">Visualizar grafo</button>
      </div>
    </ng-template>


  </div>


</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4>Detalles del artículo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="d-flex flex-column gap-3 p-3">
      <div>
        <h6 class="label-modal">Título</h6>
        <h6 class="text-modal">{{article.title}}</h6>
      </div>

      <div *ngIf="article.abstract">
        <h6 class="label-modal">Abstract</h6>
        <h6 class="text-modal text-justify">{{article.abstract}}</h6>
      </div>

      <div>
        <h6 class="label-modal">Autores</h6>
        <ul>
          <li *ngFor="let author of article.authors" class="text-modal">
            <a class="author-modal" href="/author/{{author.scopusId}}">{{author.name}}</a>
          </li>
        </ul>
      </div>

      <div>
        <h6 class="label-modal">Afiliaciones</h6>
        <ul>
          <li *ngFor="let affiliation of article.affiliations" class="text-modal">
            {{affiliation}}
          </li>
        </ul>
      </div>

      <div *ngIf="article.topics.length > 0">
        <h6 class="label-modal">Tópicos</h6>
        <ul>
          <li *ngFor="let topic of article.topics" class="text-modal">
            {{topic}}
          </li>
        </ul>
      </div>

    </div>
  </div>

</ng-template>
