h2 {
  font-size: calc(1.475rem + 1.2vw);
  font-weight: 500;
}

.label {
  font-size: calc(1.475rem + 0.1vw);
  line-height: 1.2;
  font-weight: 500;
}

.text {
  font-size: calc(1.475rem + 0.1vw);
  line-height: 1.2;
  font-weight: 400;
}

.scopus-profile {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.articles-container {
  max-height: 500px;
  overflow-y: scroll;
}

.articles-container li:hover {
  cursor: pointer;
  font-weight: 500;
}

.label-modal {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
}

.topics-container {
  max-height: 400px;
  overflow-y: scroll;
}

.topic {
  cursor: pointer;
}

.topic a {
  text-decoration: none !important;
  color: white;
}

fa-icon {
  font-size: 1.5em;
}

.text-modal {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 400;
}

.text-justify {
  text-align: justify;
}

.author-modal {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: #212529;
}

.author-modal:hover {
  font-weight: 500;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3rem
  }

  .label {
    font-size: 1.6rem

  }

  .text {
    font-size: 1.6rem
  }
}
