/* You can add global styles to this file, and also import other style files */

body {
  margin: 0
}

:root {
  --primary: #2467CC;
  --secondary: #9390903F;
  --white: #ffffff;
  --red: #8b1d1b; //E31D1A
  --dark: #212529
}

.mb-6{
  margin-bottom:2.5rem
}

.my-border {
  border: 1px red solid
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
