/* You can add global styles to this file, and also import other style files */

body {
  margin: 0
}

:root {
  --primary: #2467CC;
  --secondary: #939090;
  --white: #FBFBFB;
}

.my-border {
  border: 1px red solid
}
